<div class="profile-container">
    <h1 class="profile-heading">Perfil do Usuário</h1>
    <div class="profile-info">
        <label for="name" class="profile-label">Nome</label>
        <div class="profile-value" id="name">{{usuario}}</div>
    </div>

    <div class="profile-info">
        <label for="role" class="profile-label">Cargo</label>
        <div class="profile-value" id="role">{{role}}</div>
    </div>

    <div class="profile-info">
        <label for="status" class="profile-label">Status</label>
        <div class="profile-value" id="status">offline</div>
    </div>
</div>